@import 'tailwindcss';

@font-face {
  font-family: 'General Sans';
  font-weight: 100 900;
  font-display: swap;
  src: url('./fonts/GeneralSans-Variable.woff2') format('woff2');
}

:root {
  color-scheme: dark;
}

body {
  font-family: 'General Sans', sans-serif;
  background-color: #000;
  min-height: 100dvh;
}
